* {
  outline: 1px red dashed;
}

section {
  display: flex;
  margin: 20px auto;
}

h1 {
  margin: 0;
}

header {
  text-align: center;
}

.button {
  flex: 1;
  margin: auto 3%;
  padding: 20px;
  border: solid 1px black;
  border-radius: 3px;
  text-align: center;
}

#play {
  height: 300px;
}

.how-container {
  flex: 1;
  margin: auto;
  text-align: center;
}

#about {
  flex-direction: column;
}

#about > p {
  margin: 20px;
}
