* {
  /*outline: 1px red dashed;*/
}

body {
  background-image: url('../resources/bg5.jpg');
  background-attachment : fixed;
  background-size       : cover;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  padding: 0 2vw;
}

section {
  display: flex;
  align-items: flex-start;
  background-color: dimgrey;
  padding: 10px 0 20px 0;
}

h1 {
  margin: 0;
}

header {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: chartreuse;
  background-color: dimgrey;
}

nav {
  background-color: dimgrey;
}

.accent {
  color: chartreuse;
  font-family: 'Raleway', sans-serif;
}

#hook {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 10vw auto;
  width: 40vw;
  background-color: dimgrey;
  color: white;
  border: 5px solid #000;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  font-family: 'Raleway', sans-serif;
}

#play {
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
  margin-bottom: 70px;
}

#play-private:hover::after {
  position: absolute;
  width: 18vw;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 5px;
  background-color: white;
  border-radius: 5px;
  content: "Create a game that isn't entered into the public queue and share the url with a friend.";
}

#play-online:hover::after {
  position: absolute;
  width: 18vw;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 5px;
  background-color: white;
  border-radius: 5px;
  content: "Enter the public queue to play against a stranger.";
}

#play-local:hover::after {
  position: absolute;
  width: 18vw;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 5px;
  background-color: white;
  border-radius: 5px;
  content: "Create a local game to play on the same machine.";
}

#play-watch:hover::after {
  position: absolute;
  width: 18vw;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 5px;
  background-color: white;
  border-radius: 5px;
  content: "Watch a game that's currently being played.";
}

.button-container {
  margin: 5px 0px;
}

.button {
  width: 20vw;
  margin: auto 3vw;
  text-align: center;
  color: black;
  background-image: -webkit-linear-gradient(bottom, dimgrey, white);
  background-image: -o-linear-gradient(bottom, dimgrey, white);
  background-image: linear-gradient(to top, dimgrey, white);
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  text-decoration: none;
  padding: 2px;
}

.button:active {
  background-image: -webkit-linear-gradient(bottom, white, papayawhip);
  background-image: -o-linear-gradient(bottom, white, papayawhip);
  background-image: linear-gradient(to top, white, papayawhip);
}

.button:visited {
  color: black;
}

.button::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button:hover {
  -webkit-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}

.button:hover::after {
  opacity: 1;
}

.how-container {
  display: inline-block;
  margin: auto auto;
  text-align: center;
  border: 5px solid #000;
  border-radius: 5px;
}

.how-img {
  display: block;
  width: 20vw;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.how-text {
  padding: 5px 0;
  background-color: white;
  color: black;
}

#about {
  display: inline-block;
  padding: 0 2vw;
}

#develop {
  display: inline-block;
  padding: 0 2vw;
}

ul {
  margin: auto 2vw;
}


/*
========================================
    Media Queries
========================================
 */

@media (max-width: 1200px) {
  body {
    font-size: 40px;
  }

  #hook {
    margin: 10px auto;
    width: 75vw;
  }

  .button {
  }

  #play {
    flex-direction: column;
    height: auto;
  }

  #play-private:hover::after {display: none;}
  #play-online:hover::after {display: none;}
  #play-local:hover::after {display: none;}
  #play-watch:hover::after {display: none;}

  .button {
    display: block;
    margin: 10px auto;
    width: 75vw;
  }

  #how {
    flex-wrap: wrap;
  }

  .how-container {
    margin: 10px auto;
  }

  .how-img {
    width: 75vw;
  }
}

@media (max-width: 450px) {
  #hook {
    margin: 10px;
    width: 90vw;
  }

  .button {
    display: block;
    margin: 10px auto;
    width: 80vw;
  }

  .how-img {
    width: 90vw;
  }
}
