body {
  margin: 0;
  cursor: crosshair;
}

/*canvas { width: 100%; height: 100% }*/

/*#navbar {
  position: fixed;
  color: papayawhip;
  margin: 0;
  padding: 0;
  width: 100vw;
}*/

/*#navbar > button {
  float: right;
}*/

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  font-family: arial;
}

#blocker {

  position: absolute;

  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.5);

}

#instructions {

  width: 100%;
  height: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: box;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;

  color: #ffffff;
  text-align: center;

  cursor: pointer;

}

#xhair {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  color: aqua;
}

#vr-icon {
  /*display: none;*/
  width: 100px;
  position: fixed;
  right: 0;
  bottom: 0;
  /*background-color: #ffefd5;
  border-radius: 10px;*/
}

#screen-icon {
  display: none;
  /*padding: -7px 13px;*/
  height: 75px;
  position: fixed;
  right: 13px;
  bottom: 5px;
  /*background-color: #ffefd5;
  border-radius: 10px;*/
}
